.img{
    text-align: center;
    
}
body{
    
}

.menu{
    overflow: hidden;
    background-color: rgb(199, 5, 5);
    }
    
    .menu a{
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .menu a:hover{
    background-color: rgb(152, 8, 8);
    color: rgb(255, 255, 255);
    }
    
    h1{
    text-align: center;
    color: rgb(163, 9, 9)
    }
   
h3{
    font-size:large;
    color: rgb(163, 9, 9);
    
}

form {
    max-width: 600px;
    margin: auto;
    background: rgb(163, 9, 9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

fieldset {
    border: 2px solid #4A90E2;
    border-radius: 8px;
    padding: 20px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
    color: #4A90E2;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    background: #4A90E2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #357ABD;
}
h2{
    color: rgb(163, 9, 9)
}
footer{
color: rgb(0, 0, 0)
}
h3{

}                                                                                                      