
.img{
    text-align: center;
    
}

.menu{
    overflow: hidden;
    background-color: rgb(199, 5, 5);
    }
    
    .menu a{
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .menu a:hover{
    background-color: rgb(152, 8, 8);
    color: rgb(255, 255, 255);
    }
    
    h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
   
h2{
    text-align: center;
    font-size: 20px;

}
p{
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    color: #ffffff;
}

body {
    background: #000;
    font-family: 'Courier New', monospace;
    color: #fff;
}

.st-form {
    width: 320px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid red;
    background-color: #111;
    box-shadow: 0 0 15px red;
}


.st-form h2 {
    text-align: center;
    color: red;
    text-shadow: 0 0 10px red;
}

.st-form input,
.st-form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    background: #000;
    border: 1px solid red;
    color: white;
}

.st-form button {
    width: 100%;
    padding: 10px;
    background: red;
    border: none;
    color: white;
    cursor: pointer;
}

.st-form button:hover {
    background: darkred;
}

h2{
    color: rgb(215, 206, 28);
}
footer{
color: rgb(0, 0, 0);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 200px;
  padding: 20px;
  width: 1000px;
  background-color: rgb(255, 255, 255);
}
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #eee;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #000;
    padding: 15px;
    text-align: center;
}

.menu a {
    color: #ff2a2a;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
.card img {
  width: 500px;
  height: auto;        
  display: block;      
  margin: 0 auto;     
  text-align: center;  
}
.card p{
color: rgb(171, 10, 10);
}