.menu{
    overflow: hidden;
    background-color: rgb(65, 48, 48);
    }
    
    .menu a{
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .menu a:hover{
    background-color: rgb(124, 124, 124);
    color: black;
    }
    
    h1{
    text-align: center;
    }
   
    
    body {
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        background-color: #fff;
        padding: 30px 40px;
        border-radius: 8px;
        width: 400px;
    }

    legend {
  
        color: #333;
        margin-bottom: 20px;
        text-align: center;
    }

    label {
        display: block;
        margin-top: 15px;
        color: #444;
        }


    button{ 
        margin-top: 20px;
        width: 100%;
        padding: 12px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
}
